<div class="frame">
    <div class="heading" >
        <h1 class="heading" data-aos="fade-up">Pre Všetkých Slušných Ľudí</h1>
    </div>

    <div data-aos="fade-up" class="first" ><p>Volám sa Viktor. Nie som nikto veľký ani dôležitý. Som len človek ako každý iný. Človek ako ty. Chcem ti povedať príbeh, ako som stretol človeka.
        V živote som bol už veľa vecí - brat, študent, kuriér, priateľ, kuchár, programátor... tento pondelok som bol ale niečo, čo tak často nikto z nás nebýva (určite menej, ako by sa patrilo).</p>
        <p>
            Bol som demonštrant.
        </p>
    </div>

    <div class="first" data-aos="fade-up"><p>Bol som na proteste proti vymenovaniu Pellegriniho vlády v Bratiske.</p></div>
    <div class="first" data-aos="fade-up"><p>Nechcem ti hovoriť, prečo si tam ne/mal prísť, čo a ako ne/podpísať, alebo čo by si si mal o tomto všetkom, čo sa tu deje, myslieť – verím, že už na to máš aj tak vlastný názor.</p></div>
    <div class="first" data-aos="fade-up"><p>Tak ako veľa iných som sa minulý štvrtok cítil strašne zradený keď ohlásili Pochod za Slušné Slovensko za zrušený. Bol som na každom jednom, a Ten elán, pocit spojenia s niečím väčším ako ja, či už to je Dav/Národ/Hnutie/Ľudstvo a pocit moci a nádeje "Hej! Toto je ono! Ten bod keď sa to všetko otočí a svet bude konečne dávať zmysel!"</p></div>
    <div class="first" data-aos="fade-up"><p>...Tak ten pocit praskol.</p></div>
    <div class="first" data-aos="fade-up"><p>Na udalosti na fb sa celý deň ľudia dušovali, ako tam idú robiť bordel a neodídu kým nepríde výsledok. Aký sú rezolútni. Ako sú naštvani. Presne ako ja.
        Tak som si zobral rúčku z mopu, naštval tým máti, spravil z krabice z modrého kontajnera transparent a išiel pred Národnú Radu. </p></div>
    <div class="first" data-aos="fade-up"><p>Tam ma čakalo 2 tisíc ľudí. A moje sklamanie že ich je tak málo.
    </p></div>
    <div class="first" data-aos="fade-up"><p>Boli sláky. Bola Táňa s listom. Boli heslá a príbeh o Jankovskej a mafii. A potom to skončilo a ja som sa s mojím mopom postavil pred Národnú radu. Všetci tí hrdinovia z fejsu sa začali vytrácať. A zrazu nás bolo 100. Potom 10. Potom odišla aj tá babenka zo Zlatých Moraviec. A ja som tam ostal sám.</p></div>
    <div class="first" data-aos="fade-up"><p>Na transparente som mal : "79 Vlastizradcov vs. 1 Slovensko", ale nebolo to velmi vidieť, lebo som nemal čiernu fixku. Len Farebné.</p> </div>
    <div class="first" data-aos="fade-up"><p> Policajti mi povedali, že ak mám transparent, musím stáť aspoň 50 metrov od parlamentu.
        Asi som bol prílišná hrozba pre Národnú bezpečnosť.</p></div>
    <div class="first" data-aos="fade-up"><p>Tak som stál. Sám. Pri betónových kockách a bola mi zima. Hodinu. Dve. Tri. Ešte na začiatku som stratil rukavicu. Tak som si tú jednu vymieňal z ruky na ruku a strkal si tú holú pod pazuchu. Triasol som sa jak osika a chveli sa mi pery.</p></div>
    <div class="first" data-aos="fade-up"><p>    Tak tu si teda: "79 Vlasti-zradcov a 1 Viktor".</p></div>
    <div class="first" data-aos="fade-up"><p>Vlastne klamem. Nestál som tam sám. Bol tam so mnou aj jeden hlas. Ten v mojej hlave. "Si debil, ani ťa tu nikto nevidí"<br>
        "Si jak tí týpci, čo stoja sami s transparentom pred prezidentským palácom a všímajú si ich len turisti."<br> "Čo tu robíš?"<br> "Nič nezmeníš, si úbohý a masochista"<br> "Vzdaj to. Na čo sa tu hráš?" <br> "Všetkým okrem teba to už došlo, poďme domov - zajtra ideš do roboty" a tak...</p></div>
    <div class="first" data-aos="fade-up"><p> Nechcel som. Nevedel som to. Stále mi to nejde prijať. Ako keby keď odídem, zabijem v sebe tú poslednú iskričku nádeje že to skončilo a im to prejde.</p></div>
    <div class="first" data-aos="fade-up"><p>Ani neviem odkiaľ prišla. Zrazu tam stála, triasla sa od tej zimy a cez drkotajúce zuby sa na mňa usmievala. Pekná, videl som ju už predtým v dave, ešte za svetla. Asi novinárka. </p></div>
    <div class="first" data-aos="fade-up"><p>"Ty tu ešte stále stojíš?" - spýtala sa ma s mixom údivu a starosti.<br>"Hej" - šepol som s fialovou hubou.<br>"Koľko tu chceš ešte stáť?"<br>"Koľko bude treba..."<br>
    </p></div>
    <div class="first" data-aos="fade-up"><p>Schúlila sa do kabátu a kývla hlavou smerom k Rade.<br> "Nechceš ísť aspoň na čaj? Poď, veď tu zamrzneš."<br>Nechcel som ísť - chcel som tam stáť a hypnotizovať budovu, ako keby to vedelo dačomu pomôcť. Chcel som sa pozerať na chrbty tých grázlov, a priať im všetkým rakovinu. Ako chodia okolo mňa od hradu do roboty. Paška. Blaha. Žitňanská. </p></div>
    <div class="first" data-aos="fade-up"><p> Ale bolo mi zima a som len človek. </p> </div>
        <div class="first" data-aos="fade-up"> <p>  Išiel som. </p></div>
    <div class="first" data-aos="fade-up"><p> "Inak ja som Viktor." <br></p> </div>
    <div class="first" data-aos="fade-up"><p> "Ahoj, ja som Jana." <br></p> </div>

    <div class="first" data-aos="fade-up"><p>Bola tam teplo jak na pláži. Skrehnutými rukami som si dal na mikinu odznak, čo mi podal ujo na vrátnici. Nechcel som ísť dovnútra ďalej jak vestibul. Nemal som kam odložiť transparent a chceli ma lustrovať - a vôbec. Moje miesto je vonku. Tým že som vôbec tu, protest vlastne skončil...</p></div>
    <div class="first" data-aos="fade-up"><p>"Tak ja ti ho teda donesiem sem, počkaj."</p></div>
    <div class="first" data-aos="fade-up"><p>    Odišla. Bolo mi divno. Nikdy som tu nebol, aj keď som to tu často videl v telke. Svetlo. Teplo. Maníci v modrých uniformách stojaci v pozore. Pred schodami poloblúk novinárov, pred ktorými niekto hundral. Prišla späť s čajom. Citrónovým. Klopkala s ním na vysokých opätkoch, ako keby jej to tu patrilo, čo bolo samo o sebe heroický výkon.</p></div>
    <div class="first" data-aos="fade-up"><p>Pálil ma na prstoch a pomaly sa mi do nich vracal cit. Definitívne top 10 vecí čo som kedy pil.</p></div>
    <div class="first" data-aos="fade-up"><p> "To je kapitán?" pohol som bradou smerom k novinárom.<br>
        "Jo..." uchechtla sa, "Kapitán..."</p></div>
    <div class="first" data-aos="fade-up"><p>"Nevedel som, čo mám povedať. Stáli sme tam, pri drevenom pulte,<br> ujo vrátnik pozeral live prenos z rozpravy a ja som si bolestivo uvedomoval, ako sem nepatrím.<br>
        „Hodia nás zas do Žumpy?“ spýtal som, čumiac do blba.<br>
        „Vyzerá to už tak.“<br>
        To sa vážne nenájdu štyria z nich, čo majú svedomie? Veď aj z Gomory zdrhli Lót, jeho žena a dve decká…"<br>
        Dvihla na mňa obočím. Neviem, či si myslela, že som naivný alebo zblbnutý. Horeli mi líca.<br>"Koľko máš rokov?"<br>
        "26"<br>
        "Fakt? Vyzeráš na 22" <br>
        "...lebo...som sa oholil?"
    </p></div>
    <div class="first" data-aos="fade-up"><p>Zazvonil jej telefón. Nechcel som to počúvať - ale nemal som kam ísť. "Hej ešte sme tu... neviem... neviem kedy, ešte to naťahujú..."
        Asi jej decká. Popravde, nevyzerala že nejaké má.
        "Nie, nejedzte to v posteli, pekne jedzte pri stole... určite prídem ok? Paráda, papa."
    </p></div>
    <div class="first" data-aos="fade-up"><p>Dopil som čaj. "Díky moc. Fakt mi to pomohlo."<br>
        "Za málo.“<br>
        Nevedel som, čo povedať. </p></div>

    <div class="first" data-aos="fade-up"><p>Gro môjho života som cynické hovado... a tu stojím a som už úplne namäkko. Možno to bolo podchladením, možno pocitom zlyhania, možno umierajúcou nádejou na lepšie zajtra…No strašne ma to dojalo. To všetko. To maličké, ľudské gesto na pozadí toho obludného divadla. Keď ťa nikto nevidí, lebo si len človiečik a tu sa rozhoduje o štátoch, a teba si niekto všimne a uzná tvoju ľudskosť. To všetko som cítil a chcel povedať...ale nevedel som ako.</p></div>
    <div class="first" data-aos="fade-up"><p>Nie...za veľa. Ani nevieš jak moc."
        Chcel som si ten moment nejak...zachytiť. Zapamätať čo sa mi dialo…"Odfotíš sa so mnou?“<br>„Jasné, daj!"<br></p></div>
    <div class="first" data-aos="fade-up"><p>Spravil som fotku. Stáli sme tam a počúvali kontinuálnu verbálnu hnačku predsedu náhodnej vady.</p></div>
    <div class="first" data-aos="fade-up"><p>Otočila sa na vrátnika: "Viete prosím, kedy budem v rozprave?“<br>"Každú chvíľu pani poslankyňa.“<br>"Rád som ťa poznal, Jana.“<br>"Aj ja teba Viktor. Musím už ísť."<br>"Ahoj...“</p></div>
    <div class="first" data-aos="fade-up"><p>A išla preč. </p></div>
    <div class="first" data-aos="fade-up"><p>Teraz viem, že išla prehrať tak, aby to iný nevzdali. Ja som išiel zase von. Pozerať sa z prvej rady, ako Slovensko po krátkom vzoprení zas padá na papulu. Ako 81 hyjen za prachy zavrie oči pred vraždou dvoch mladých ľudí. Ako sa volajú oni, a ako sa volá ona, som zistil až na druhý deň...
        Ale tá noc pri mne zostala. A zostane. Lebo teraz už viem. Lebo teraz, keď mi nabudúce niekto povie: „A šak sú šeci rovnaki“, alebo „Ale veď sú všetci taký isti“, môžem mu pozrieť rovno do očí a povedať: „Nie. Nie všetci.” </p></div>
    <div class="first" data-aos="fade-up" style="margin-top: 5px"><p>Nie všetci.</p></div>
    <div class="first" data-aos="fade-up" style="margin-top: 5px"><p>
        Volala sa Jana Cigániková</p></div>
    <div class="first" data-aos="fade-up" id="last"><p>A v tú noc som stretol veľa politikov, ale len jedného človeka.<br><br><br><br><br></p><p>
        <!--this-->
    </p></div>
</div>