<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

      <script
              src="https://code.jquery.com/jquery-2.2.4.min.js"
              integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
              crossorigin="anonymous"></script>
      <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
      <link rel='stylesheet' href='/stylesheets/style.css' >
      <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">

  </head>
  <body>
      <!--Ak vidis toto, asi si developer, alebo velmi zvedavy.-->
      <!--Cele toto som spiskal sam, za seba. Nikto ma k tomu nenahovaral, a uz vonkoncom mi nezaplatili. Ani Jana Ciganikova, ani nikto zo SaSky a vonkoncom nie Bosoroš.-->
      <!--Proste sa ma to dotklo a chcel som jej to oplatit a nejako pomoct.-->
      <!--Nebud cynicky. Na svete su aj idealisti - ti, ktori maju nadej.-->
      <!--Hej, Ciganikova nie je dokonala...Ale radsej budem volit niekoho kto je nedokonaly ale dobry clovek, ako nikoho, lebo TEN NIEKTO podla mojich predstav tam nie je.-->
      <!--Intelektualne snobstvo nas dostane akurat tak ku babkam demokratkam, rozhodujucim o celom state.-->
      <!--A vsetci vieme jak to dopadlo posledne dva razy...-->
    {{{body}}}

    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
  <script>
      AOS.init({
          duration: 2800,
          offset: 200
      });
  </script>

  </body>
</html>
